<div class="p-4 mt-4">
  <h1 class="text-3xl text-green-700 font-semibold mb-4">Нові статті</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <% @latest_articles.each do |article| %>
      <div class="border border-gray-300 p-4 rounded-lg">
        <h3 class="text-green-600 text-lg font-bold"><%= link_to article.title, article_path(article) %></h3>
        <p class="text-gray-600"><%= article.body.to_plain_text.truncate(200) %></p>
        <%= link_to 'Читати далі', article_path(article), class: "text-green-800 hover:underline" %>
      </div>
    <% end %>
  </div>
</div>
