<ul>
  <% level ||= 0 %> <!-- Якщо level не переданий, встановлюємо його як 0 -->
  <% categories.each do |category, sub_categories| %>
    <li class="py-2">
      <!-- Відображаємо категорію як посилання -->
      <%= link_to category.name, articles_category_path(category), 
            class: "block text-lg font-semibold text-green-600 hover:text-green-800 transition-colors duration-300", 
            style: "padding-left: #{level * 20}px;" %>
      
      <!-- Якщо є підкатегорії, показуємо їх -->
      <% if sub_categories.present? %>
        <!-- Викликаємо рекурсивно паршал для відображення підкатегорій і збільшуємо рівень -->
        <%= render partial: "category_tree", locals: { categories: sub_categories, level: level + 1 } %>
      <% end %>
    </li>
  <% end %>
</ul>
